<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/style.css" />
      <!-- APP ICON -->
      <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon" />
      <!-- ICONS LINK -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
         integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer" />
      <title>Kulula-scrum</title>
   </head>
   <body>
      <section class="interface">
         <!-- PROFIL PART -->
         <header class="profil-header">
            <!-- LOGO -->
            <div class="logo">
               <img src="/img/logo-2.svg" alt="kulula logo" />
            </div>
            <!-- LES INFOS & ACTIONS UTILISATEURS -->
            <div class="actions">
               <!-- ID UTILISATEUR -->
               <p id="id-user">YK221789</p>
               <!-- PARAMETRE -->
               <a href="#"><i class="fa-solid fa-gear"></i></a>
               <!-- MODIFICATION -->
               <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
               <div class="info">
                  <a href="#"
                     ><img src="/img/user.jpg" alt="profil picture"
                  /></a>
                  <p>User name</p>
               </div>
            </div>
         </header>
         <!-- BOARDS DE GESTION DES PROJETS  -->
         <div class="board">
            <!-- LISTE DE MENU -->
            <div class="board-left">
               <ul>
                  <li>
                     <a href="#">
                        <i class="fa-solid fa-table-cells"></i>
                        Feuille de route
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="fa-solid fa-book"></i>
                        Backlog
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                        Sprint
                     </a>
                  </li>
                  <li>
                     <a href="#" class="selected">
                        <i class="fa-solid fa-table-columns"></i>
                        Tableau
                     </a>
                  </li>
               </ul>
            </div>
            <!-- OTHER -->
            <div class="board-rigth"></div>
         </div>
      </section>
      <!-- BACKDROP -->
      <div class="backdrop">
         <!--  -->
      </div>
   </body>
</html>
<script src="/js/app.js" defer></script>
